/* Глобальные настройки */

*{
    margin:0;
    padding:0;
}

body{ font-family: roboto, sans-serif;}

/* Шапочка + меню*/
#main-nav{
	background-color:white;
	height: 80px;
	text-align: right;
}

.logo-holder{
    float:left;
    padding-left:12px;
    text-align:left;
	}
	
.logo-img{width: 15%;}

#main-menu{ list-style:none;}

.main-menu-item a{
    color:#ffe4c4;
    text-decoration: none;
    background-color:#d2b48c;
    padding:10px;
    margin: 10px;
    border-radius:5px;
    display: inline-block;  
}

.main-menu-item a:hover{color:#bc8f8f;}


.main-menu-item {
    display: inline-block;  
}

/* Обложка с милотой */

.cover {
    background: url(ras_cover.jpg);
	background-position: center;
	background-size:cover;
	color: #d2b48c;
	padding: 115px 20% ;
}

.cover-dinner{
	background: rgba(0,0,0,0.5);
	padding:5%;
	text-align:center;
}

h1 {
	font-size:2.5rem;
	margin-top: -20px;
	margin-bottom: .025 rem;
}

p {font-size: 2rem;}

.button-cover{
	padding:0.7rem;
	font-size: 1rem;
	font-weight:bold;
	background-color:#d2b48c;
	color: #fff;
	border:0;
	border-radius:5px;
	margin-top:1rem;
}

